<article class="news">
    <a class="news--link info--link" href="#" aria-label="{{ n.title|e }}" rel="bookmark">
        <h3 class="news--title">{{ n.title }}</h3>
        <p class="news--date meta">{{ n.postDate|date('long') }}</p>
    </a>
</article>