/.env
/.idea
/vendor
.DS_Store
node_modules/
/craft/storage/*
/storage/*
web/servd-volumes/
*.code-workspace
.vscode/
.sass-cache
.publish
.cache
.project
.settings
*.sublime-workspace
*.sublime-project
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/web/cpresources/*
/xd-assets/*
