/***************************************************
 * > Footer
***************************************************/

.footer--wrap {
    padding: $p-m 0;
}

.footer-logo {
    margin: 0 0 $p-m;
}

.social-icons {
    width: 7rem;
    display: flex;
    justify-content: space-between;
}