/***************************************************
 * > Globals
***************************************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: $purple;
    color: $white;
    font-family: $body-font;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.95rem;
    letter-spacing: 0;
    min-height: 100vh;
}

.site-container {
    position: relative;
}

p,
li {
    font-size: 14px;
}

ul,
ol {
    list-style-type: none;
}

a {
    color: $white;
    text-decoration: none;
    &:hover,
    &:focus {
        color: $orange;
    }
}

a:visited {
    color: $white;
}

#workshops p {
    color: $text-color;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-weight: 700;
    text-transform: uppercase;
}

h1,
.h1 {
    font-size: calc(3rem + 2.5vw);
    letter-spacing: 0.75rem;
    line-height: calc(1.1em + 1.25vw);
    margin-bottom: 0;
}

h2,
.h2 {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.25rem;
    line-height: 1.23;
}

h3,
.h3 {
    font-size: 1.8rem;
    letter-spacing: 0.15rem;
    line-height: 29.5px;
}

@media only screen and (min-width: 1200px) {
    h1,
    .h1 {
        font-size: 10rem;
    }
}