/***************************************************
 * > Typography
***************************************************/

@font-face {
    font-family: 'TitilliumWeb';
    src: local('TitilliumWeb'), local('TitilliumWeb Regular'), local('titillium'), url('../fonts/TitilliumWeb-Regular.woff2') format('woff2'), url('../fonts/TitilliumWeb-Regular.woff') format('woff'), url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TitilliumWeb';
    src: local('TitilliumWeb'), local('TitilliumWeb Bold'), local('titillium'), url('../fonts/TitilliumWeb-Bold.woff2') format('woff2'), url('../fonts/TitilliumWeb-Bold.woff') format('woff'), url('../fonts/TitilliumWeb-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}