{% extends "_layout/main.twig" %}

{% block main %}
    <section id="hero">
        <h1>This is the hero.</h1>
    </section>
    <section id="workshops"></section>
    <section id="info">
        <div id="events"></div>
        <div id="news"></div>
    </section>
{% endblock %}